---
layout: default
---

<div class="home">

  <h1 class="page-heading">... of a Jack of No Trades, Master of None</h1>

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title | escape }}</a>
        </h2>
        {{ post.excerpt }}
        {% if post.content contains site.excerpt_separator %}
          <a href="{{ post.url | prepend: site.baseurl }}">...Read more</a>
        {% endif %}
      </li>
    {% endfor %}
  </ul>

</div>
